@import "tailwindcss";

/* Your color themes */
@theme {
  --color-rich-50: #f1f1f1;
  --color-rich-100: oklch(0.922 0.001 287.25);
  --color-rich-200: oklch(0.836 0.003 286.72);
  --color-rich-300: oklch(0.758 0.004 286.52);
  --color-rich-400: oklch(0.674 0.004 286.48);
  --color-rich-500: oklch(0.594 0.006 286.34);
  --color-rich-600: oklch(0.508 0.006 286.28);
  --color-rich-700: oklch(0.433 0.006 286.21);
  --color-rich-800: oklch(0.346 0.005 286.21);
  --color-rich-900: oklch(0.266 0.006 286.08);
  --color-rich-950: oklch(0.227 0.004 286.17);

  --color-accent-50: oklch(0.957 0.02 277);
  --color-accent-100: oklch(0.925 0.036 273.72);
  --color-accent-200: oklch(0.839 0.079 271.26);
  --color-accent-300: oklch(0.762 0.121 268.88);
  --color-accent-400: oklch(0.677 0.17 263.89);
  --color-accent-500: oklch(0.603 0.218 257.42);
  --color-accent-600: oklch(0.505 0.183 257.47);
  --color-accent-700: oklch(0.419 0.152 257.57);
  --color-accent-800: oklch(0.322 0.117 257.5);
  --color-accent-900: oklch(0.235 0.085 257.39);
  --color-accent-950: oklch(0.18 0.064 257.25);

  /* Set Satoshi as default font */
  --font-sans: "Satoshi";
}

/* Global styles */
@layer base {
  body {
    @apply bg-black text-white font-sans; /* Default background, text color, and font */
  }
}

/* Import Satoshi font */
@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900; /* Since it's a variable font */
  font-display: swap;
}

html {
  scroll-padding-top: 150px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}